<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}

    {% if validlink %}

        <div class="container-fluid pro-con"> 
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card pro-card">
                        <div class="card-body py-2">
                            <div class="control-form">
                                <div class="control-group">
                                    <h1 id="pro-title">Ingresa una nueva contraseña!</h1>
                                </div>
                                <div class="control-group">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="mb-3 row mt-3">
                                            <h2 id="tt">Considera lo siguiente</h2>
                                            <ul class="lipro-text">
                                                <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                                                <li>Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
                                                <li>Su contraseña no puede ser una contraseña de uso común.</li>
                                                <li>Su contraseña no puede ser completamente numérica.</li>
                                            </ul>
                                        </div>
                                        <div class="mb-3 row mt-3">
                                            <label for="staticEmail" class="col-sm-2 pro-text">Nueva Contraseña:</label>
                                            <div class="col-sm-10">
                                                <a>{{ form.new_password1 }}</a>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mt-3">
                                            <label for="staticEmail" class="col-sm-2 pro-text">Confirmar Contraseña:</label>
                                            <div class="col-sm-10">
                                                <a>{{ form.new_password2 }}</a>
                                            </div>
                                        </div>
                                        <div class="mb-3 mt-3">
                                            <input type="submit" value="Cambiar contraseña" class="btn boton">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div> 

    {% else %}

    <div class="container-fluid pro-con"> 
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card pro-card">
                    <div class="card-body py-2">
                        <div class="control-form">
                            <div class="control-group">
                                <h1 id="pro-title">Algo salio mal</h1>
                            </div>
                            <div class="control-group">
                                <p class="pro-text">El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. 
                                    Solicite un nuevo restablecimiento de contraseña.</p>
                            </div>
                            <p class="pro-text">Reintentar <a href="{% url 'password_reset' %}"> ingresar el correo</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
      </div>    

    {% endif %}
{% endblock %}