<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Restablecimiento de contraseña completo{% endblock %}

{% block content %}

<div class="container-fluid pro-con"> 
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card pro-card">
                <div class="card-body py-2">
                    <div class="control-form">
                        <div class="control-group">
                            <h1 id="pro-title">Restablecimiento de contraseña completo</h1>
                        </div>
                        <div class="control-group">
                            <p class="pro-text">Se ha establecido su nueva contraseña. Puede iniciar sesión ahora en la <a href="{% url 'login' %}"> pagina.</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

{% endblock %}