<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

<div class="container-fluid pro-con"> 
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card pro-card">
              <div class="card-body py-2">
                  <div class="control-form">
                      <div class="control-group">
                          <h1 id="pro-title">¿Olvidó su clave?</h1>
                      </div>
                      <div class="control-group">
                          <p class="pro-text">Introduzca su dirección de correo electrónico a continuación y 
                            le enviaremos instrucciones por correo electrónico para configurar una nueva.</p>
                      </div>
                      <div class="control-group">
                        <form method="POST">
                          {% csrf_token %}
                          <div class="mb-3 row mt-3">
                            <label for="staticEmail" class="col-sm-2 pro-text">Correo:</label>
                            <div class="col-sm-10">
                                <a>{{ form.email }}</a>
                            </div>
                            <div class="mb-3 mt-3">
                              <input type="submit" value="Enviar" class="btn boton">
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>  
</div>

{% endblock %}