<!-- templates/base.html -->
{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {% bootstrap_messages %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %} Django Auth Tutorial {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/css/all.css'%}">
  
</head>
<body>
  <main>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid navbar navbar-light ">
          <a class="navbar-brand">
            <img src="/static/img/logom.png" class="img-fluid rounded-circle" width="45" height="45" alt="">
          </a>
          <a class="navbar-brand" href="{% url 'home' %}">Casa Iscali</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-ligth"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'eventos' %}">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'productos' %}">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'servicios' %}">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'zpsicologica' %}">Zona Psicologica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'designer' %}">Diseñador</a>
              </li>
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <form class="d-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Perfil
                        </a>
                      <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                          <li class="nav-item mensaje ps-2">
                            <a class="nav-link active" aria-current="page">Usuario: {{ user.get_username }}</a>
                          </li>
                          <hr>
                          <li class="nav-item ps-2">
                            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Cerrar Sesion</a>
                          </li>
                          <li class="nav-item ps-2">
                            <a class="nav-link active" aria-current="page" href="{% url 'password_reset' %}">Cambiar contraseña</a>
                          </li>
                        {% else %}
                          <li class="nav-item ps-2">
                            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Iniciar Sesion</a>
                          </li>
                          <li class="nav-item ps-2">
                            <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Crear Cuenta</a>
                          </li>
                        {% endif %}
                      </ul>
                    </li>
                  </form>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </nav>
  
    <div id="body">
      <div class="container py-2">
        {% block content %}
  
        {% endblock %}
      </div>
    </div>
    <footer>
      <div class="bg-black"></div>
    </footer>
  </main>

  <footer>
    <div class="footer__addr">
      <h1 class="footer__logo">Casa Iscali</h1>
          
      <h2 id="title-contact">Contactos</h2>
      
      <address>
        Dirección: Casa Iscali Aguascalientes #26. Colonia - Centro. Dolores Hidalgo C.I.N., Gto.<br>
      </address>
    </div>
    
    <ul class="footer__nav">

      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Terapeuta</h2>
        
        <ul class="nav__ul nav__ul--extra">
          <li>
            <span><i class="fa-solid fa-envelope"></i>  lupitavargas112@gmail.com</span>
          </li>
          
          <li>
            <span><i class="fa-brands fa-whatsapp"></i> +52 418 181 2609</span>
          </li>
          
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          
          <li>
            <a href="{% url 'servicios' %}">Servicios</a>
          </li>
          
          <li>
            <a href="#">Productos</a>
          </li>
          
          <li>
            <a href="{% url 'eventos' %}">Eventos</a>
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <h2 class="nav__title">Psicólogo</h2>
  
        <ul class="nav__ul">
          <li>
            <span><i class="fa-solid fa-envelope"></i>  mavargas132@gmail.com</span>
          </li>
  
          <li>
            <span><i class="fa-brands fa-whatsapp"></i> +52 418 112 5439</span>
          </li>
            
          <li>
            <span><a href="{% url 'zpsicologica' %}">Zona Psicologíca</a></span>
          </li>
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">Diseñador gráfico</h2>
        
        <ul class="nav__ul">
          <li>
            <span><i class="fa-solid fa-envelope"></i>  diegorangel189@gmail.com</span>
          </li>
          <li>
            <span> <i class="fa-brands fa-whatsapp"></i>  +52 418 144 6128</span>
          </li>
          <li>
            <a href="{% url 'designer' %}"><span>Diseñador</span></a>
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
      <p>&copy; 2022 Casa Iscali. Todos los derechos reservados.</p>
      
      <div class="legal__links">
        <span>Made with <span class="heart">♥</span> Python from Django, Boostrap 5</span>
      </div>
    </div>
  </footer>
</body>
</html>