<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-dark" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bg-dark" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="bg-dark" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="bg-dark" aria-label="Slide 5"></button>
          </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/carmas.jpg" class="d-block w-100" height="450" alt="Masajes holistic">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-dark">Masajes terapéuticos</h5>
                    <p class="text-dark">Técnicas de masaje que se utilizan en el tratamiento de trastornos neuromusculares y musculoesqueléticos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/masaje-reductivo.jpg" class="d-block w-100" height="450" alt="Masaje reductivo chino">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-dark">Masajes reductivos chinos</h5>
                    <p class="text-dark">El masaje reductivo chino consiste en un reajuste interno del equilibrio de las distintas funciones del organismo.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/facemassage.jpg" class="d-block w-100" height="450" alt="Masaje facial">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-dark">Masajes faciales</h5>
                    <p class="text-dark">El masaje facial relaja los músculos de la cara, mejora la circulación de la zona, reduce las líneas de expresión.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/sesionpsi.jpg" class="d-block w-100" height="450" alt="Masaje facial">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-ligth">Sesiones Psicologicas</h5>
                    <p class="text-ligth">El masaje facial relaja los músculos de la cara, mejora la circulación de la zona, reduce las líneas de expresión.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/design.jpg" class="d-block w-100" height="450" alt="Masaje facial">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-ligth">Diseños digitales</h5>
                    <p class="text-ligth">Creación de diseños digitales simples, creativos, estéticos y manejo de difrentes herramientas y softwares de diseño.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <hr class="mt-20 mb-20" id="hr-home">

    <div class="container">
        <div class="row">
            <div id="home-qsomos">
                <h2 id="home-title">¿Quienes somos?</h2>
                <p id="text-des">Casa Iscali es una empresa que ofrece diversos a partir de ciertas necesidades de los usuarios. Que busca expandirse, Casa Iscali tiene tres profesionales en tres campos totalmente diferentes. 
                    Teniendo en sus filas un Psicólogo con 4 años de experiencia, una terapeuta con 18 años de experiencia y un diseñador gráfico.  
                </p>
            </div>
        </div>
    </div>

    <hr class="mt-20 mb-20" id="hr-home2">

    <div class="container">
        <div class="row">
            <div id="home-objective">
                <h2 id="home-title">Objetivo</h2>
                <p id="text-des">Casa Iscali tiene un claro objetivo que es brindarle la mejor atención a usted para entregar los mejores resultados posibles y el usted este satisfecho con el trabajo realizado. Como objetivo secundario se tiene la inteción de crecer en personal 
                    se tiene la capacidad en Casa Iscali de tener mas profesionales que tengan el mismo objetivo e intereses para tener un abanico mas amplio de servicios, y lograr que los usuarios tengan referencias confiables, experiencias placenteras y confianza en el trabajo que realiza en Casa Iscali.
                </p>
            </div>
        </div>
    </div>

    <hr class="mt-20 mb-20" id="hr-home">

    <div class="container">
        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-10 col-sm-10">
                <div class="container" id="perfil-tp">
                    <h2 id="home-title">Terapeuta</h2>
                    <hr id="perfil-sep">
                    <div class="image-perfiles">
                        <img src="/static/img/perfil-tep.jpg" class="img-fluid rounded-circle" id="img-perfiles" width="200" height="200" alt="">
                    </div>
                    <hr id="perfil-sep">
                    <p id="info-perfiles"><strong>Maria Guadalupe Vargas Torrres es una terapeutista con 18 años de experiencia, con multiples conocimientos en su area y contando con mas de 50 certificaciones, cursos y contancias, que avalan su expertis y habilidades. Ella es una profesional que se enfoca
                        en el trato humano para que su paciente este lo mas relajado y tranquilo logrando asi resultados increibles. Ademas de ser una persona responsable, honesta, solidadria y que ama su profesión.</strong>
                    </p>
                    <div class="social-media">
                        <ul>
                            <li>
                                <span><i class="fa-solid fa-envelope"></i>  lupitavargas112@gmail.com</span>
                            </li>
                              
                            <li>
                                <span><i class="fa-brands fa-whatsapp"></i> +52 418 181 2609</span>
                            </li>
                            <li>
                                <span><i class="fa-brands fa-facebook"></i> Maria Guadalupe Vargas Torres</span>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
            

            <div class="col-xl-4 col-lg-4 col-md-10 col-sm-10">
                <div class="container" id="perfil-ps">
                    <h2 id="home-title">Psicologa</h2>
                    <hr id="perfil-sep">
                    <div class="image-perfiles">
                        <img src="/static/img/perfil-psi.jpg" class="img-fluid rounded-circle" id="img-perfiles" width="200" height="200" alt="">
                    </div>
                    <hr id="perfil-sep">
                    <p id="info-perfiles"><strong>Angeles Vargas Torres es una piscologa con 5 años de experiencia que se enfoca en terapias para las relaciones entre hijos y padres ademas realizar terapias con los niños. Ella tiene un titulo que la avala como profesional. Ella es una persona que se enofca en los 
                        problemas empcionales de los démas ayudandolos a que tengan un panorama completo de la situación y si han tenido problemas mas graves los ayuda a mantener la calma, pensar la cosas detenidamente. Ellas es responsable, amable, una persona que dice lo que necesitas hacer 
                        y no lo que quieres oir.</strong> 
                    </p>
                    <div class="social-media">
                        <ul>
                            <li>
                                <span><i class="fa-solid fa-envelope"></i>  mavargas132@gmail.com</span>
                            </li>
                      
                            <li>
                                <span><i class="fa-brands fa-whatsapp"></i> +52 418 112 5439</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
           
            <div class="col-xl-4 col-lg-4 col-md-10 col-sm-10">
                <div class="container" id="perfil-dg">
                    <h2 id="home-title">Diseñador gráfico</h2>
                    <hr id="perfil-sep">
                    <div class="image-perfiles">
                        <img src="/static/img/perfil-dis.jpg" class="img-fluid rounded-circle" id="img-perfiles" width="200" height="200" alt="">
                    </div>
                    <hr id="perfil-sep">
                    <p id="info-perfiles"><strong>Juan Diego Rangel Vargas es un Diseñador Grafico con 7 años de experiencia, contando con multiples poryectos en su haber y teniendo una TSU en Diseño Digital en la UTNG, se enfoca en la creación de logos, slogan, folletos, tripticos, volantes, lonas, carpas, logos digitales para ventas, operaciones y mercado. 
                        Conociendo las ultimas tendencias y tecnologias como PhotoShop, CoreDraw, Illustraitor, etc. Es una persona responsable que se enfocas en la satisfacción del cliente, es respetuoso y sabe entender la idea que el cliente le comunica perfectamente. </strong>
                    </p>
                    <div class="social-media">
                        <ul>
                            <li>
                                <span><i class="fa-solid fa-envelope"></i>  diegorangel189@gmail.com</span>
                            </li>
                            <li>
                                <span> <i class="fa-brands fa-whatsapp"></i>  +52 418 144 6128</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}