/* Cambiar el tipo de letra */

nav.navbar {
    background: linear-gradient(15deg, 	#ff1493, #dcdcdc);
}

nav.navbar div.navbar a.navbar-brand {
    color: black;
    font-family: cursive;
    font-style: bold;
    font-size: x-large;
}

nav.navbar div.collapse li.nav-item{
    color: black;
    font-style: bold;
    font-family: cursive;
}

.nav-item{
    color: black;
}

button.boton {
    background-color: #ff1493;
    border-color: #ff1493;
}

p.link-boton {
    font-size: 10px;
}

li.mensaje {
    color: black;
}