{% extends '../base.html' %}

{% block title %} Eventos {% endblock %}

{% block content %}

<div class="container-fluid"> 
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2 id="eve-title">Eventos proximos</h2>
            <div class="card">
                <div class="card-body py-2">
                    <div class="control-form">
                        <div class="control-group">
                            <h1 id="eve-title">Lo sentimos por el momento no hay eventos proximos</h1>
                        </div>
                        <div class="control-group">
                            <p id="eve-text">Pero nuestros servicios y promociones aun estan disponibles.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

{% endblock %}