{%  extends '../base.html' %}

{% block title %} Servicios {% endblock %}

{% block content %}

<div class="row master">
  <h2 id="title-services">Servicios Terapéuticos</h2>
  <div id="container" class="container col-xl-9 col-lg-10 col-md-12 col-sm-12">	
	
    <!-- Start	Product details -->
    <div class="product-details">
        
        <!-- 	Product Name -->
        <h1 id="servicet">Masaje relajante</h1>
          
        <!-- The most important information about the product -->
        <p class="information">El masaje relajante consiste en la realización de maniobras superficiales en las que la intensidad de la presión es suave y el ritmo lento
          y reiterativo, de manera que al recibir un contacto repetido y constante, se pierde la sensación de dolor y los músculos se relajan.
        </p>
      
          
    </div>
      
    <!-- 	End	Product details   -->
      
      
      
    <!-- 	Start product image & Information -->
      
    <div class="product-image">
      
      <img src="/static/img/massage.jpg" class="img-fluid rounded py-2" alt="Omar Dsoky">
      
      <!-- 	product Information-->
      <div class="info">
        <h2>Descripción</h2>
        <ul>
          <li><strong>Servicio: </strong>Masaje relajante</li>
          <li><strong>Duración: </strong>30 - 60 min</li>
          <li><strong>A partir de: </strong> 4 pm - 9 pm</li>
          <li><strong>Precio: </strong> $350 </li>
          <hr>
          <strong>Se necesita reservar cita con anticipación</strong>
        </ul>
      </div>
    </div>
    <!--  End product image  -->
    
    
  </div>

  <div id="divisor">

  </div>

  <!-- Servicio 2 -->
  <div id="container" class="container col-xl-9 col-lg-10 col-md-12 col-sm-12">	
	
    <!-- Start	Product details -->
    <div class="product-details">
        
        <!-- 	Product Name -->
        <h1 id="servicet">Masaje facial</h1>
          
        <!-- The most important information about the product -->
        <p class="information">El masaje facial relaja los músculos de la cara, mejora la circulación de la zona, reduce las líneas de expresión, 
          tonifica los músculos y alivia la tensión, lo que contribuye a un aspecto rejuvenecido y fresco. Al mismo tiempo, al estimular el sistema circulatorio el masaje consigue que los nutrientes y el oxígeno.
        </p>
      
          
    </div>
      
    <!-- 	End	Product details   -->
      
      
      
    <!-- 	Start product image & Information -->
      
    <div class="product-image">
      
      <img src="/static/img/facemassage.jpg" class="img-fluid rounded py-2" alt="Omar Dsoky">
      
      <!-- 	product Information-->
      <div class="info">
        <h2>Descripción</h2>
        <ul>
          <li><strong>Servicio: </strong>Masaje facial</li>
          <li><strong>Duración: </strong>20 - 40 min</li>
          <li><strong>A partir de: </strong> 4 pm - 9 pm</li>
          <li><strong>Precio: </strong> $250 </li>
          <hr>
          <strong>Se necesita reservar cita con anticipación</strong>
        </ul>
      </div>
    </div>
    <!--  End product image  -->
    
  </div>

  <div id="divisor">

  </div>

  <!-- Servicio 3 -->
  <div id="container" class="container col-xl-9 col-lg-10 col-md-12 col-sm-12">	
	
    <!-- Start	Product details -->
    <div class="product-details">
        
        <!-- 	Product Name -->
        <h1 id="servicet">Auriculoterapia</h1>
          
        <!-- The most important information about the product -->
        <p class="information">Se basa en estimular una serie de puntos que existen en la oreja con el objetivo de diagnosticar y tratar un dolor concreto, 
          porque se basa en la teoría de que en el oído hay una representación de las partes del organismo. De esta manera, estimulando puntos concretos de la oreja 
          es posible tratar cualquier patología física o emocional.
        </p>
      
          
    </div>
      
    <!-- 	End	Product details   -->
      
      
      
    <!-- 	Start product image & Information -->
      
    <div class="product-image">
      
      <img src="/static/img/stranger.jpg" class="img-fluid rounded py-2" alt="Omar Dsoky">
      
      <!-- 	product Information-->
      <div class="info">
        <h2>Descripción</h2>
        <ul>
          <li><strong>Servicio: </strong>Auriculoterapia</li>
          <li><strong>Duración: </strong>40 - 60 min</li>
          <li><strong>A partir de: </strong> 4 pm - 9 pm</li>
          <li><strong>Precio: </strong> $120 </li>
          <hr>
          <strong>Se necesita reservar cita con anticipación</strong>
        </ul>
      </div>
    </div>
    <!--  End product image  -->
    
  </div>

  <div id="divisor">

  </div>

  <!-- Servicio 4 -->
  <div id="container" class="container col-xl-9 col-lg-10 col-md-12 col-sm-12">	
	
    <!-- Start	Product details -->
    <div class="product-details">
        
        <!-- 	Product Name -->
        <h1 id="servicet">Limpieza de oídos</h1>
          
        <!-- The most important information about the product -->
        <p class="information">El lavado de oídos es un procedimiento que permite remover el exceso de cera, 
          pero que también puede ser usado para retirar cualquier tipo de suciedad que se haya acumulado en el canal auditivo a lo largo del tiempo, 
          se usa un cono de terapia.
        </p>
      
          
    </div>
      
    <!-- 	End	Product details   -->
      
      
      
    <!-- 	Start product image & Information -->
      
    <div class="product-image">
      
      <img src="/static/img/ears.jpg" class="img-fluid rounded py-2" alt="Omar Dsoky">
      
      <!-- 	product Information-->
      <div class="info">
        <h2>Descripción</h2>
        <ul>
          <li><strong>Servicio: </strong>Limpieza de oídos</li>
          <li><strong>Duración: </strong>15 - 30 min</li>
          <li><strong>A partir de: </strong> 4 pm - 9 pm</li>
          <li><strong>Precio: </strong> $150 </li>
          <hr>
          <strong>Se necesita reservar cita con anticipación</strong>
        </ul>
      </div>
    </div>
    <!--  End product image  -->
    
  </div>

  <div id="divisor">

  </div>

  <!-- Servicio 5 -->
  <div id="container" class="container col-xl-9 col-lg-10 col-md-12 col-sm-12">	
	
    <!-- Start	Product details -->
    <div class="product-details">
        
        <!-- 	Product Name -->
        <h1 id="servicet">Piedras calientes</h1>
          
        <!-- The most important information about the product -->
        <p class="information">El masaje con piedras es una forma de terapia de masaje de medicina alternativa y trabajo corporal que implica 
          la colocación de una serie de piedras calentadas o enfriadas en el cuerpo con el propósito de aliviar el dolor, relajar y terapia. 
        </p>
      
          
    </div>
      
    <!-- 	End	Product details   -->
      
    <!-- 	Start product image & Information -->
      
    <div class="product-image">
      
      <img src="/static/img/hotstones.jpg" class="img-fluid rounded py-2" alt="Omar Dsoky">
      
      <!-- 	product Information-->
      <div class="info">
        <h2>Descripción</h2>
        <ul>
          <li><strong>Servicio: </strong>Piedras Calientes</li>
          <li><strong>Duración: </strong>60 - 90 min</li>
          <li><strong>A partir de: </strong> 4 pm - 9 pm</li>
          <li><strong>Precio: </strong> $370 </li>
          <hr>
          <strong>Se necesita reservar cita con anticipación</strong>
        </ul>
      </div>
    </div>
    <!--  End product image  -->
    
  </div>
 
  <div id="divisor">

  </div>

  <!-- Otros servicios -->
  <div id="container" class="container col-xl-9 col-lg-10 col-md-12 col-sm-12">	
	
    <!-- Start	Product details -->
    <div class="product-details">
        
        <!-- 	Product Name -->
        <h1 id="servicet">Otros Servicios</h1>
          
        <!-- The most important information about the product -->
        <ul>
          <li><strong>Drenaje linfático</strong> $450 </li>
          <li><strong>Masaje para parálisis facial</strong> $350 </li>
          <li><strong>Reflexología</strong> $250 </li>
          <li><strong>Vendas frías y calientes</strong> $800 </li>
          <li><strong>Masaje cráneo facial</strong> $350 </li>
          <li><strong>Madero terapía</strong> $500 </li>
          <li><strong>Masaje reductivo</strong> $250 </li>
        </ul>
    </div> 
  </div>

</div>
  

{% endblock %}